.Header{
    background: linear-gradient(180deg, rgba(9, 17, 121, 1) 15%, rgba(0, 212, 255, 1) 100%) !important;
}
.Titulo{
    display: flex;
    justify-Content: center;
    color: white;
}
.secciones{
        display: flex;
        justify-content: space-evenly;
        list-style: none; 
        font-Weight: bold; 
        text-decoration: none;
}
.Carrito{
    display: flex;
    align-items: flex-end;
    color: white;
}